.calendar {
    background-color: white;
    box-shadow: 2px 2px 5px 2px;
    width: 380px !important;
    border-radius: 0 0 10px rgb(0, 0, 0, 0.2);
    
}

.calendar header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.calendar ul li {
    width: calc(100% / 7);
}