/* 
    Homepage styles
*/

body {
    font-family: Roboto;
    background-color: white;
}

@font-face {
    font-family: Roboto;
    src: url(../../font/Roboto-Bold.ttf);
}

@media (min-width: 65rem)
/* min 1025 px */
    {
    .header-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .header-wrapper h1, h2 {
        line-height: 2rem;
        letter-spacing: 2px;
    }

    .header-banner {
        width: 65%;
        margin-top: 20px;
    }

    .header-banner img {
        width: 100%;
        border-radius: 100px;
    }

    /* Ticket box */
    .ticket-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .card {
        border-radius: 50px !important;
        box-shadow: 3px 3px 7px 5px rgba(0, 0, 0, 0.2) !important;
    }

    .form-group {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
      }
      
      label {
        width: 100px;
        text-align: right;
        margin-right: 5px;
        margin-left: 5px;
      }
      
      .sublabel {
        color: gray;
      }
      
      select,
      input[type="date"] {
        padding: 10px;
        font-size: 14px;
      }
      
      button[type="submit"] {
        padding: 10px 20px;
        background-color: #0077C0;
        border: none;
        cursor: pointer;
      }
      
      input[type="date"] {
        position: relative;
      }
      
      input[type="date"]:before {
        content: attr(placeholder);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        color: rgba(0, 0, 0, 0.65);
        pointer-events: none;
        line-height: 1.5;
        padding: 10px 0.5rem 0 0.5rem;
      }
      
      input[type="date"]:focus:before,
      input[type="date"]:not([value=""]):before {
        display: none;
      }
      
      .custom-bg {
        background-color: #ffffff;
      }
      
      #origin::after {
        content:arrow icon image;
      }

    /* Popular destinations */
    .flex {
        margin: 10px;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .img-fluid {
        width: 20% !important;
        margin: 20px;
    }

    .img-fluid-info {
        width: 100%;
    }

    .img-fluid-info-greet {
        width: 50%;
    }

    /* Newsletter */
    .subscription {
        background-color: #FAFAFA;
    }

    .subscription-wrapper {
        padding: 70px;
        width: 100%;
        margin: 40px;
    }

    h3,
    .h3 {
        font-size: 30px;
    }

    .subscription.bg-white .form-control {
        border: 1px solid #ebebeb !important;
    }

    .subscription-wrapper .form-control {
        height: 60px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 45px;
    }

    .subscription-wrapper .form-control:focus {
        background: rgba(255, 255, 255, 0.1);
        outline: 0;
        box-shadow: none;
    }

    .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    .btn-primary {
        border: 0;
        color: #fff;
    }

    .btn {
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        text-transform: capitalize;
        padding: 18px 45px;
        border-radius: 45px;
        font-weight: 500;
        border: 1px solid;
        position: relative;
        transition: .3s ease-in;
        overflow: hidden;
    }

    .btn:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 102%;
        height: 100%;
        background: linear-gradient(45deg, #00a8f4 0%, #02d1a1 100%);
        z-index: -1;
        transition: ease 0.3s;
    }
}

@media (min-width: 50rem) and (max-width: 64rem)
/* min 801 px */
    {
    .flex {
        margin: 20px;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .img-fluid {
        width: 40%;
        margin: 20px;
    }
}

@media (min-width: 30rem) and (max-width: 49rem)
/* min 480 px */
    {
    .flex {
        margin: 20px;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .img-fluid {
        width: 80%;
        margin: 20px;
    }
}