/*
    Bus Schedule styles
*/

@media (min-width: 65rem) {
    /* min 1025 px */
.schedule-card div {
    margin: 0;
    height: 50px;
}
.schedule-arrow-right {
    margin-top: 10px;
    height: 50%;
    width: 100%;
}
.container {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.schedule-row .schedule-card {
    padding: 50px;
}

.schedule-row {
    margin: 30px;
    padding: 20px 50px;
    border-bottom: 2px solid #1D242B;
    border-radius: 15px;
    background-color: #FAFAFA;
}

.origin-time, .destination-time {
    font-weight: bold;
    font-size: 20px;
}

.right-arrow-icon {
    margin-left: 50px;
}

.schedule-info a {
    padding: 10px;
    text-decoration: none;
    color: gray;
}

.schedule-info a:hover {
    color: #0077C0;
}

.schedule-info div {
    margin: 15px;
}

.schedule-logo {
    align-items: end;
}

.ticket-price {
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 0, 0);
}

.buy-ticket {
    width: 50%;
    padding: 200px;
}

button.scheduleBtn {
    background-color: #0077C0;
}
}

@media (min-width: 50rem) and (max-width: 64rem)
/* min 801 px */
{

}

@media (min-width: 30rem) and (max-width: 49rem)
/* min 480 px */
{

}
